/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .post {
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 21px;
  margin-bottom: 21px;
} */

/* .navigation {
  padding: 30px;
  text-align: center;
  background-color: rgb(218, 224, 224);
}

.navigation a:link {
  text-decoration: none;
} */

.home {
  border: 2px solid grey;
  margin: 30px 30px 0px 30px;
  padding: 10px;
  background: whitesmoke;
  box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
  -webkit-box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
  -moz-box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
}

/* .blog-header {
  border: 2px solid grey;
  padding: 10px;
  background: whitesmoke;
  text-align: center;
} */

/* .subprofile-container {
  display: flex;
  justify-content: center;
} */

/* .box-1,
.box-2 {
  border: 2px solid grey;
  width: 50%;
  margin: 5px;
  padding: 20px;
} */

.card-wrapper {
  padding: 0px 40px;
}

/* .form-container {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  background: #ded7b1;
} */

.pokemon-container {
  width: 1024px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.pokemon-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1.5rem;
}

.column-one {
  background: #cfdac8;
}

.column-two {
  background: #f0e2d0;
}

.navigation {
  background: #312c51;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  margin-bottom: 20px;
}

.navLink:link {
  text-decoration: none;
}

.navLink:hover {
  color: #7e7474;
}

.navLink {
  color: #e6e1e1;
  font-weight: 700;
  margin-right: 20px;
}

.navLinkActive {
  border-bottom: 3px dashed #e6e1e1;
}

/* .navigationImage {
  width: 150px;
  margin: 0px 20px;
} */
